*
{
    margin: 0%;
    padding: 0%;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 2rem 0px;
}
.header img{
    width: 268px;
    height: 33px;
}
.navbar{
    display: flex;
    gap: 1.5rem;
    font-size: 20px;
    font-weight: 400;
}
.navbar a{
    text-decoration: none;
    color: #9cadc0;
}
.navbar a:hover{
    color: rgb(0, 179, 155);
}

/* textsection */

.text-img{
    width: 40px;
    margin-left: 650px;
    margin-top: 70px;
}
.textsection h1{
    margin-left: 350px;
    font-size: 35px;
    font-weight: 100;
    margin-top: 20px;
    color: rgb(0, 179, 155);
}
.p1{
    color: #747474;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 300px;
    padding-right: 280px;
    width: 100%;
    justify-content: space-between;
}
.p2{
   color: #747474;
   font-size: 16px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 30px;
   padding-left: 670px;
   padding-right: 280px;
   width: 100%;
   justify-content: space-between;
   margin-top: -149px;
}

/* foresection */

.foresection{
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1.375em 1.25em 0;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 3.75rem auto 2.5rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1015px;
    padding: 0 20px;
    position: relative;
    box-sizing: border-box;
}
.for1{
    background-color: #00ccb1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
.patient h2{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.p{
    margin: 0 0 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.for1 select{
    background-color: #00ccb1;
    text-decoration: underline;
    border: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
}
.button, input, select, textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.button, select{
    text-transform: none;
}
.patient-img{
    color: #fff;
    font-size: ;
}
.for2{
    background-color: #3d83df;;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
.for2 select{
    background-color: #3d83df;;
    text-decoration: underline;
    border: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
}
.doctors h2{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.for3{
    background-color: #1b2734;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0;
    justify-content: space-between;
    height: 345px;
}
.for3 select{
    background-color: #1b2734;
    text-decoration: underline;
    border: none;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
}
.clinics h2{
    font-size: 1.625em;
    font-weight: 400;
    color: #fff;
    margin: 0.3em 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* branches */

.branches{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83%;
}
.branches div{
    display: flex;
    width: 86%;
}
.B-text{
    font-size: 23px;
    margin-left: 200px;
    padding-right: 1em;
    color: #00b39b;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: -0.3px;
}
.B-logo{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.B-logo img{
    width: 80px;
    object-fit: contain;
}

/* section2 */

.section2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    background-color: #d0faf4;
    padding-left: 50px;
}
.s4header{
    font-family: Arial, Helvetica, sans-serif;
    padding: 60px;
    padding-bottom: 0%;
    margin-left: -130px;
}
.section2 h2{
    color: #00b39b;
    font-weight: 100;
    letter-spacing: -0.3px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 35px;
}
.section2 p{
    padding-left: 50px;
    padding-top: 20px;
    font-size: 15px;
    color: #747474;
    padding-bottom: 50px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fourboxes{
    display: flex;
    margin-right: 50px;
    height: 100%;
    justify-content: space-around;
    margin-left: 100px;
}
.first2{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 20px;
}
.leader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    margin-bottom: 120px;
    margin-left: -100px;
}
.leader img{
    width: 25px;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-top: 30px;
}
.fourboxes h3{
    font-size: 20px;
    color: #00b39b;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: -0.3px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.fourboxes p{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 6px;
    padding: 0px;
    font-size: 12px;
    padding-bottom: 25px;
}
.patientbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    margin-bottom: -60px;
    margin-left: -100px;
    margin-top: -100px;
    padding-top: 40px;
    padding-bottom: 24px;
}
.patientbox img{
    width: 25px;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-top: 30px;
}
.appoinment{
    margin-right: 2px;
    margin-bottom: 250px;
}
.second2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.appointment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: ;
    margin-left: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}
.appoinment img{
    width: 5px;
    height: auto;
    vertical-align: middle;
    border: 0;
    margin-top: 30px;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    width: 220px;
    border-radius: 2px;
    margin-bottom: ;
    margin-left: 20px;
    margin-left: 30px;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 25px;
}

/* section3 */

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    width: 100%;
}
.section3 h3{
    font-size: 40px;
    color: #00b39b;
    font-family: sans-serif;
    font-weight: 300;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.section3 p{
    margin: 1.6em 0;
    line-height: 1.7142857143;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
    color: #747474;
}

/* country */

.section4{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5cm;
    justify-content: center;
}
.country{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}
.section4 div{
    border-radius: 3%;
    margin: 0.44%;
}
.section4 img{
    vertical-align: middle;
    border: 0;
}
div .buttons{
    display: flex;
    justify-content: space-between;
}
.section4 p{
    font-size: medium;
    color: #747474;
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0 0 10px;
}
.section4 button{
    margin-top: 0.5cm;
    display: flex;
    gap: 2cm;
    justify-content: center;
    background: #3d83df;
    line-height: 1em;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.04em;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-size: 1rem;
    font-family: Roboto, Arial, sans-serif;
    margin-right: 20px;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    font: inherit;
    margin: 0%;
}
.section4 img:hover{
    box-shadow: 1px 1px 4px 1px#24313e;
    transform: scale(1.1);
}

/* section5 */

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section5 h1{
    font-size: 32px;
    color: #333;
    margin-bottom: 0.75em;
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: -0.3px;
    text-align: center;
    margin: 0.67em 0;
}
.section5 button{
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
}

/* footer */

.footer{
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
    font-family: sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}
.a{
    color: #337ab7;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}
.footer p{
    padding-top: 20px;
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


